<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-text-center">Conserjeria Virtual</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-button href="./administrador-main"><ion-col size="1"><ion-icon name="arrow-back-circle-outline" size="large" ></ion-icon></ion-col></ion-button>
      <ion-col size="10"><ion-card-title><div class="ion-text-center">CREAR USUARIO</div></ion-card-title></ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="ion-margin">
    <form [formGroup] = "formularioNuevoUsuario">
      <ion-card-content>
        <ion-item> 
          <ion-input placeholder="Nombre" formControlName="name"></ion-input>
        </ion-item> 
        <ion-item> 
          <ion-input placeholder="Tipo" formControlName="type"></ion-input>
        </ion-item> 
        <ion-item> 
          <ion-input placeholder="depto (si aplica)" formControlName="depto"></ion-input>
        </ion-item> 
      </ion-card-content>
    </form>
  </ion-card>  
  <div class="ion-text-center">
    <ion-button (click) = "CrearUsuario()"  color="dark">Agregar</ion-button>
  </div>

</ion-content>
