<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-center">Conserjeria Virtual</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <ion-card-title>
    <div class="ion-text-center">ADMINISTRADOR</div>
  </ion-card-title>

  <ion-grid>

    <br>
    <div class="ion-text-center">
      <ion-button (click) = "AgregarUsuario()"  color="dark">Agregar Usuario</ion-button>
    </div>

    
    
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-card-subtitle>
          <div class="ion-text-center">Diario mural</div>
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">

        <!-- solo demostracion, cambiar por infinite scroll cuando agreguemos funcionalidad-->
        <ion-card>
          <ion-list>
            <ion-item *ngFor="let item of Pizarra">
              <ion-label>{{ item.note }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card>

      <!--infinite scroll placeholder > ejemplo

        <ion-list>
          <ion-item *ngFor="let item of items; let index">
            <ion-avatar slot="start">
              <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
            </ion-avatar>
            <ion-label>{{ item }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

        -->
      </ion-col>
    <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>
  <div class="ion-text-center">
    <ion-button (click) = "AgregarEntrada()"  color="dark">Agregar entrada</ion-button>
  </div>
  <ion-card>
  </ion-card>    
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row >
      <ion-col size="1"></ion-col>
      <ion-col size="3">
        <ion-button color = "dark" >SALIR</ion-button>
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="3">
        <ion-button color = "dark">PERFIL</ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>