<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-center">Conserjeria Virtual</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <ion-card-title>
    <div class="ion-text-center">DEPTO 705</div>
  </ion-card-title>

  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-card-subtitle>
          <div class="ion-text-center">Mi casilla</div>
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>0</ion-card-title>
            <ion-card-subtitle>Cartas</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>1</ion-card-title>
            <ion-card-subtitle>Encomienda</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    
    
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-card-subtitle>
          <div class="ion-text-center">Diario mural</div>
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">

        <!-- solo demostracion, cambiar por infinite scroll cuando agreguemos funcionalidad-->
      <ion-card color="light">
        <ion-card-header>
          <ion-card-subtitle>Administracion</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> Corte programado de agua potable el dia 15 de mayo de 8:00 a 18:00 hrs </ion-card-content>
      </ion-card>

      <!--infinite scroll placeholder > ejemplo

        <ion-list>
          <ion-item *ngFor="let item of items; let index">
            <ion-avatar slot="start">
              <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
            </ion-avatar>
            <ion-label>{{ item }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

        -->
      </ion-col>
    <ion-col size="1"></ion-col>
    </ion-row>

  </ion-grid>

  <ion-card>
  </ion-card>    
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row >
      <ion-col size="1"></ion-col>
      <ion-col size="3">
        <ion-button color = "dark" href="./login-residente">SALIR</ion-button>
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="3">
        <ion-button color = "dark" href="./perfil">PERFIL</ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>